<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.TFtest.RealtimeDetection">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        
        <meta-data
        android:name="com.baidu.speech.APP_ID"
        android:value="11551687" />
        <meta-data
        android:name="com.baidu.speech.API_KEY"
        android:value="cH7EGFpyyqr8UI0geUyBkqOE" />
        <meta-data
        android:name="com.baidu.speech.SECRET_KEY"
        android:value="uSGFjUGhEm0n2CKEeNVUqD5ozRxO7Kov" />
        <!-- 请确认集成后的包名是否正确，本demo的包名是com.baidu.speech.recognizerdemo，在build.gradle文件中查看 -->
        <service
        android:name="com.baidu.speech.VoiceRecognitionService"
        android:exported="false" />
        
        <activity android:name="com.TFtest.RealtimeDetection.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
